<h2 matDialogTitle>Schüler importieren</h2>

<mat-dialog-content>
  <ul>
    <li>Datei muss eine CSV Datei sein.</li>
    <li>Die erste Zeile der Datei wird ignoriert.</li>
    <li>Format: Klasse, Nachname, Vorname</li>
  </ul>
  <input #fileUploadSimple (change)="importDataFromCSV($event)" [accept]="'.csv'" class="file-input"
         hidden="hidden"
         type="file"/>
  <button (click)="fileUploadSimple.click()" color="accent" mat-raised-button>Datei auswählen</button>
  <span> {{ fileName }}</span>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-raised-button color="primary" [disabled]="fileName === null" (click)="importData()" cdkFocusInitial>
    Importieren
  </button>
</mat-dialog-actions>
