.mat-column-Stunde {
  width: 32px;
}

.selected-tape {
  transition: all 0.1s ease;
  background-color: #3f51b5;
  color: whitesmoke;
}

.taken {
  background-color: #e0e0e0;
}

.day {
  transition: all 0.1s ease;
}

.day:hover {
  filter: brightness(70%);
  cursor: pointer;
}

.selected {
  background-color: #f44336;
  color: whitesmoke;
}

.classes-tables {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.classes-table {
  width: 30%;
}
