<app-hero title="{{ choiceNumber }}. Wahl"></app-hero>

<div class="container">
  <div class="center">
    <app-choice-table [tapeClassResponses]="tapeClassResponses" [choiceResponse]="choiceResponse"
                      (selectedTapeOutput)="selectTape($event)"></app-choice-table>

    <div class="classes-tables">
      <div class="classes-table">
        <div class="class header"><span>Fächer</span></div>
        @for (subjectTape of subjectTapeResponses; track subjectTape.name) {
          @if (subjectTape.tapeResponses && subjectTape.tapeResponses.length > 0) {
            <div
              class="class"
            >
              {{ subjectTape.name }} -
              @for (tape of subjectTape.tapeResponses; let i = $index; track tape.name) {
                {{ tape.name }}
                @if (i < subjectTape.tapeResponses.length - 1) {
                  ,
                }
              }
            </div>
          }
        }
      </div>
      <div class="classes-table">
        <div class="class header"><span>Kurse</span> {{ selectedTape ? '- ' + selectedTape.name : '' }}</div>
        @for (c of selectedTape?.classResponses; track c.classId) {
          <div
            class="class selectable {{ getClassForSelectClass(c) }}"
            (click)="alterChoice(c.classId)">
            {{ c.name }} - {{ c.teacherResponse.abbreviation }}
          </div>
        }

        @if (selectedTape?.classResponses) {
          <div
            class="class selectable"
            (click)="deleteClassFromChoice()">
            Band nicht belegen
          </div>
        }
      </div>
      <div class="classes-table">
        <div class="class header"><span>Nicht erfüllte Wahlbedingungen</span></div>
        @for (rule of choiceResponse?.ruleResponses; track rule.name) {
          <div
            class="class selectable"
            style="padding: 0">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ rule.name }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              @if (rule.subjectResponses && rule.subjectResponses.length > 0) {
                Wähle eines dieser Fächer:
                @for (subject of rule.subjectResponses; let i = $index; track subject.name) {
                  {{ subject.name }}{{ i < rule.subjectResponses.length - 1 ? ', ' : '' }}
                }
              }
            </mat-expansion-panel>
          </div>
        }
        @if (choiceResponse && choiceResponse.ruleResponses && choiceResponse?.ruleResponses?.length === 0) {
          <div class="class">
            Alle Wahlbedingungen wurden erfüllt
          </div>
        }
      </div>
    </div>

    <button mat-raised-button style="width: 100%" color="primary" (click)="nextStep()"
            [disabled]="choiceResponse && choiceResponse.ruleResponses && choiceResponse.ruleResponses.length !== 0">
      {{ getNextStepText() }}
    </button>
  </div>
</div>
