
.classes-tables {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  padding: 15px;
}

.classes-table {
  width: 30%;
}

.class {
  font-size: 14px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Roboto, sans-serif;
  background-color: #f7f7f7;
}

.class.header {
  background-color: #e0e0e0;
}

.class.selectable.taken {
  background-color: #3f51b5;
  color: whitesmoke;
}

.class.selectable:hover {
  filter: brightness(95%);
  cursor: pointer;
}
