<app-hero title="{{ choiceNumber }}. Wahl"></app-hero>

<div class="container">
  <div class="center">
    <table mat-table [dataSource]="dataSource!" class="mat-elevation-z8">

      <ng-container matColumnDef="Stunde">
        <th mat-header-cell *matHeaderCellDef> Stunde</th>
        <td mat-cell *matCellDef="let element"> {{element.hour}} </td>
      </ng-container>

      <ng-container matColumnDef="Montag">
        <th mat-header-cell *matHeaderCellDef> Montag</th>
        <td mat-cell class="{{ getClassForCell(element.days[0]) }}"
            (click)="selectTape(element.days[0].tapeClass)" *matCellDef="let element">
          {{element.days[0].tapeClass?.name}} {{element.days[0].choice ? ' - ' + element.days[0].choice.name : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Dienstag">
        <th mat-header-cell *matHeaderCellDef> Dienstag</th>
        <td mat-cell class="{{ getClassForCell(element.days[1]) }}"
            (click)="selectTape(element.days[1].tapeClass)" *matCellDef="let element">
          {{element.days[1].tapeClass?.name}} {{element.days[1].choice ? ' - ' + element.days[1].choice.name : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Mittwoch">
        <th mat-header-cell *matHeaderCellDef> Mittwoch</th>
        <td mat-cell class="{{ getClassForCell(element.days[2]) }}"
            (click)="selectTape(element.days[2].tapeClass)" *matCellDef="let element">
          {{element.days[2].tapeClass?.name}} {{element.days[2].choice ? ' - ' + element.days[2].choice.name : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Donnerstag">
        <th mat-header-cell *matHeaderCellDef> Donnerstag</th>
        <td mat-cell class="{{ getClassForCell(element.days[3]) }}"
            (click)="selectTape(element.days[3].tapeClass)" *matCellDef="let element">
          {{element.days[3].tapeClass?.name}} {{element.days[3].choice ? ' - ' + element.days[3].choice.name : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Freitag">
        <th mat-header-cell *matHeaderCellDef> Freitag</th>
        <td mat-cell class="{{ getClassForCell(element.days[4]) }}"
            (click)="selectTape(element.days[4].tapeClass)" *matCellDef="let element">
          {{element.days[4].tapeClass?.name}} {{element.days[4].choice ? ' - ' + element.days[4].choice.name : '' }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="classes-tables">
      <div class="classes-table">
        <div class="class header"><span>Fächer</span></div>
        <span *ngFor="let subjectTape of subjectTapeResponses">
          <div
            class="class"
            *ngIf="subjectTape.tapeResponses.length > 0"
          >
            {{ subjectTape.name }} - <span *ngFor="let tape of subjectTape.tapeResponses; index as i">{{ tape.name }}
            <span *ngIf="i < subjectTape.tapeResponses.length - 1">, </span></span>
          </div>
        </span>
      </div>
      <div class="classes-table">
        <div class="class header"><span>Kurse</span> {{ selectedTape ? '- ' + selectedTape.name : ''}}</div>
        <div
          class="class selectable {{ getClassForSelectClass(c) }}"
          (click)="alterChoice(c.classId)"
          *ngFor="let c of selectedTape?.classResponses">
          {{c.name}} - {{c.teacherResponse.abbreviation}}
        </div>
        <div
          *ngIf="selectedTape?.classResponses"
          class="class selectable"
          (click)="deleteClassFromChoice()">
          Band nicht belegen
        </div>
      </div>
    </div>

    <button mat-raised-button style="width: 100%" color="primary" (click)="nextStep()">
      {{ getNextStepText() }}
    </button>
  </div>
</div>
