<app-hero title="Passwort ändern"></app-hero>
<form [formGroup]="changePasswordFormGroup" (ngSubmit)="makeLogin()">
  <div class="container">
    <div class="center">
      <mat-form-field class="example-full-width">
        <input matInput [type]="hideOld ? 'password' : 'text'" formControlName="oldPassword" required>
        <mat-label>Altes Passwort</mat-label>
        <mat-icon matSuffix (click)="hideOld = !hideOld">{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword" required>
        <mat-label>Neues Passwort</mat-label>
        <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput [type]="hideNewRepeat ? 'password' : 'text'" formControlName="newPasswordRepeat" required>
        <mat-label>Neues Passwort wiederholen</mat-label>
        <mat-icon matSuffix
                  (click)="hideNewRepeat = !hideNewRepeat">{{hideNewRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Passwort ändern</button>
    </div>
  </div>
</form>
