<app-hero title="Wahlen einsehen"></app-hero>

<div class="container">
  <div class="center">
    @for (choice of choiceResponses; let i = $index; track choice.choiceId) {

      <div class="bulk-actions headline {{ i !== 0 ? 'next': '' }}">
        <div class="header">{{ choice.choiceNumber }}. Wahl</div>
        <button (click)="editChoice(choice.choiceNumber)" class="bulk-actions-icons" color="primary"
                mat-mini-fab [matTooltip]="'Wahl bearbeiten'">
          <mat-icon>mode_edit</mat-icon>
        </button>
      </div>
      <app-choice-table [tapeClassResponses]="tapeClassResponses" [choiceResponse]="choice"
                        [selectable]="false"></app-choice-table>
    }

    <button mat-raised-button style="margin-top: 10px" (click)="exportChoices()" color="primary">Drucken</button>

  </div>
</div>
