.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.mat-column-Stunde {
  width: 32px;
}

.taken {
  background-color: #3f51b5;
  color: whitesmoke;
}

.day:hover {
  filter: brightness(70%);
}

.selected {
  background-color: #f44336;
  color: whitesmoke;
}
