<app-hero title="Band bearbeiten"></app-hero>
<form [formGroup]="editStudentClassForm" (ngSubmit)="editStudentClass()">
  <div class="container">
    <div class="center" *ngIf="tape">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" name="name" id="name" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Jahrgang</mat-label>
        <input matInput formControlName="year" name="year" id="year" type="number">
      </mat-form-field>
      <mat-checkbox style="text-align: left; margin-bottom: 10px" formControlName="lk" name="lk" id="lk"
                    labelPosition="after">LK
      </mat-checkbox>
      <button mat-raised-button color="primary" type="submit">Band bearbeiten</button>
    </div>

    <div *ngIf="!tape" class="spinner">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </div>
</form>
