<app-hero title="Klassen"></app-hero>

<div class="container">
  <div class="center">
    <div class="header">
      <mat-form-field>
        <mat-label>Suche</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Name" #input>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="createStudentClass()">Klasse erstellen</button>
    </div>
    <div class="bulk-actions">
      <button mat-mini-fab color="warn" class="bulk-actions-icons" (click)="deleteStudentClasses()"
              [disabled]="selection.isEmpty()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <table mat-table [dataSource]="dataSource!" class="mat-elevation-z8" matSortActive="name" matSortDirection="asc"
           matSort (matSortChange)="sortData($event)">

      <ng-container matColumnDef="Auswählen">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-sort-header="name" mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="Lehrer">
        <th mat-sort-header="teacher" mat-header-cell *matHeaderCellDef> Lehrer</th>
        <td mat-cell *matCellDef="let element"> {{ element.teacher.abbreviation }}</td>
      </ng-container>

      <ng-container matColumnDef="Jahrgang">
        <th mat-sort-header="year" mat-header-cell *matHeaderCellDef> Jahrgang</th>
        <td mat-cell *matCellDef="let element"> {{ element.year }}</td>
      </ng-container>

      <ng-container matColumnDef="Aktionen">
        <th mat-header-cell *matHeaderCellDef> Aktionen</th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="primary" class="bulk-actions-icons"
                  (click)="editStudentClass(element.studentClassId)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" class="bulk-actions-icons"
                  (click)="deleteStudentClass(element.studentClassId)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div *ngIf="!loadedStudentClasses" class="spinner-table">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </div>
</div>

