<app-hero title="Schüler"></app-hero>

<div class="container">
  <div class="center">
    <div class="header">
      <mat-form-field>
        <mat-label>Suche</mat-label>
        <input #input (keyup)="applyFilter($event)" matInput placeholder="Name">
      </mat-form-field>
      <div>
        <button (click)="openDialog()" color="primary" mat-raised-button style="margin-right: 5px">
          Schüler aus Datei importieren
        </button>

        <button (click)="createStudent()" color="primary" mat-raised-button>Schüler erstellen</button>
      </div>
    </div>
    <div class="bulk-actions">
      <button (click)="resetPasswords()" [disabled]="selection.isEmpty()" class="bulk-actions-icons" color="primary"
              mat-mini-fab>
        <mat-icon>history</mat-icon>
      </button>
      <button (click)="deleteStudents()" [disabled]="selection.isEmpty()" class="bulk-actions-icons" color="warn"
              mat-mini-fab>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <table [dataSource]="dataSource!" class="mat-elevation-z8" mat-table>
      <ng-container matColumnDef="Auswählen">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
          <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                        (click)="$event.stopPropagation()"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="Nutzername">
        <th *matHeaderCellDef mat-header-cell> Nutzername</th>
        <td *matCellDef="let element" mat-cell> {{ element.username }}</td>
      </ng-container>

      <ng-container matColumnDef="Vorname">
        <th *matHeaderCellDef mat-header-cell> Vorname</th>
        <td *matCellDef="let element" mat-cell> {{ element.firstname }}</td>
      </ng-container>

      <ng-container matColumnDef="Nachname">
        <th *matHeaderCellDef mat-header-cell> Nachname</th>
        <td *matCellDef="let element" mat-cell> {{ element.surname }}</td>
      </ng-container>

      <ng-container matColumnDef="Klasse">
        <th *matHeaderCellDef mat-header-cell> Klasse</th>
        <td *matCellDef="let element" mat-cell>
          <span *ngIf="element.studentClassResponse">{{ element.studentClassResponse.name }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="Generiertes Passwort">
        <th *matHeaderCellDef mat-header-cell> Generiertes Passwort</th>
        <td *matCellDef="let element" mat-cell> {{ element.generatedPassword }}</td>
      </ng-container>

      <ng-container matColumnDef="Aktionen">
        <th *matHeaderCellDef mat-header-cell> Aktionen</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="editStudent(element.studentId)" class="bulk-actions-icons" color="primary" mat-mini-fab>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="resetPassword(element.userId)" class="bulk-actions-icons" color="primary" mat-mini-fab>
            <mat-icon>history</mat-icon>
          </button>
          <button (click)="deleteStudent(element.studentId)" class="bulk-actions-icons" color="warn" mat-mini-fab>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <div *ngIf="!loadedStudents" class="spinner-table">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>

  </div>
</div>
