<div class="header">
  <h3>
    Jahrgang {{ year }}
  </h3>
  <mat-form-field>
    <mat-label>Suche</mat-label>
    <input matInput (keyup)="applySearch($event)" placeholder="Name" #input>
  </mat-form-field>
  <button mat-raised-button style="height: 48px; margin-bottom: 22px" color="primary" (click)="assignLesson()">
    Zuweisen
  </button>
</div>
<div class="bulk-actions">
  <button mat-mini-fab color="warn" class="bulk-actions-icons" (click)="deleteTapes()"
          [disabled]="selection.isEmpty()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
<table mat-table [dataSource]="dataSource!" class="mat-elevation-z8" matSortActive="name" matSortDirection="asc"
       matSort (matSortChange)="sortData($event)">

  <ng-container matColumnDef="Auswählen">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-sort-header="name" mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="LK">
    <th mat-header-cell *matHeaderCellDef> LK</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.lk">check</mat-icon>
      <mat-icon *ngIf="!element.lk">close</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="Aktionen">
    <th mat-header-cell *matHeaderCellDef> Aktionen</th>
    <td mat-cell *matCellDef="let element">
      <button mat-mini-fab color="primary" class="bulk-actions-icons"
              (click)="editTape(element.tapeId)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" class="bulk-actions-icons"
              (click)="deleteTape(element.tapeId)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="!loadedTapes" class="spinner-table">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
