.choice {
  width: 100%;
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.choice:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.class {
  width: 45%;
}


.choice-container {
  display: flex;
  justify-content: space-evenly;
}

.choice-header {
  text-align: left;
  font-size: 16px;
  background-color: white;
  padding: 18px 24px;
  margin-bottom: 5px;
  border-radius: 3px;
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 1px rgba(0, 0, 0, 0.14), 0px 1px 7px 1px rgba(0, 0, 0, 0.12);
}

.table-header-group {
  text-align: left;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.table-header {
  width: 25%;
  font-size: 16px;
}

.mat-column-Band {
  width: 32px;
}

.mat-column-Aktion {
  width: 32px;
}

.selected {
  background-color: var(--primary);
  color: white;
}

.selectable:hover {
  filter: brightness(95%);
  cursor: pointer;
}

.alternative {
  display: flex;
  justify-content: space-evenly;
}
