<app-hero title="Ergebnisse Jahrgang {{ year }}"></app-hero>

<div class="container">
  <div class="center">

    <mat-expansion-panel class="class" *ngFor="let c of classes">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ c.name }}
        </mat-panel-title>

        <mat-panel-description>
          {{ c.tapeName }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div (click)="openChoice(student.studentId)" class="choice"
           *ngFor="let student of c.studentSurveillanceResponses">
        {{ student.firstname }} {{ student.surname }}
      </div>
    </mat-expansion-panel>

    <div *ngIf="!loadedClasses" class="spinner-table">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </div>
</div>
