<app-hero title="Zuteilung Jahrgang {{ year }}"></app-hero>

<div class="container">
  <div class="center">
    <div class="choice-container">
      <div class="class">
        <mat-expansion-panel style="margin-bottom: 5px;" *ngFor="let c of classes">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ c.name }}
            </mat-panel-title>

            <mat-panel-description>
              {{ c.teacherResponse.firstname }} {{ c.teacherResponse.surname }} - {{ c.teacherResponse.abbreviation }}
            </mat-panel-description>

            <mat-panel-description>
              {{ c.tapeName }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div (click)="openChoice(student.studentId)" class="choice"
               *ngFor="let student of c.studentSurveillanceResponses">
            {{ student.firstname }} {{ student.surname }}
          </div>
        </mat-expansion-panel>
      </div>

      <div class="class">
        <div class="student-choice" *ngIf="studentChoice">
          <div class="choice-header">{{ studentChoice.firstname }} {{ studentChoice.surname }}</div>
          <mat-expansion-panel *ngIf="studentChoice?.ruleResponses && studentChoice?.ruleResponses!.length > 0"
                               style="margin-bottom: 5px;">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: var(--warn)">
                Nicht erfüllte Wahlbedingungen
              </mat-panel-title>
              <mat-panel-description style="color: var(--warn)">
                {{ studentChoice?.ruleResponses?.length }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="rule" *ngFor="let rule of studentChoice?.ruleResponses">
              {{ rule.name }} -
              <span *ngFor="let subject of rule.subjectResponses; index as i">
                {{ subject.name }}{{ i < rule.subjectResponses.length - 1 ? ', ' : '' }}
              </span>
            </div>
          </mat-expansion-panel>
          <div class="choice-table">
            <div class="table-header-group">
              <table mat-table [dataSource]="dataSource!" class="mat-elevation-z8">

                <ng-container matColumnDef="Band">
                  <th mat-header-cell *matHeaderCellDef> Band</th>
                  <td mat-cell *matCellDef="let element"> {{ element.tape.name }}</td>
                </ng-container>

                <ng-container matColumnDef="1. Wahl">
                  <th mat-header-cell *matHeaderCellDef> 1. Wahl</th>
                  <td mat-cell class="{{ element.firstChoice?.selected ? 'selected selectable': 'selectable' }}"
                      (click)="assignChoice(element.firstChoice)"
                      *matCellDef="let element"> {{ element.firstChoice?.name }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="2. Wahl">
                  <th mat-header-cell *matHeaderCellDef> 2. Wahl</th>
                  <td mat-cell class="{{ element.secondChoice?.selected ? 'selected selectable': 'selectable' }}"
                      (click)="assignChoice(element.secondChoice)"
                      *matCellDef="let element"> {{ element.secondChoice?.name }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="Alternative">
                  <th mat-header-cell *matHeaderCellDef> Alternative</th>
                  <td mat-cell class="{{ element.alternativeChoice?.selected ? 'selected selectable': 'selectable' }}"
                      (click)="assignChoice(element.alternativeChoice)"
                      *matCellDef="let element">
                    {{ element.alternativeChoice?.name }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="Aktion">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="selectTape(element.tape.tapeId)"
                            aria-label="Example icon-button with a menu" style="float: right">
                      <mat-icon>expand_more</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item *ngFor="let c of selectedTape?.choiceTapeClassResponses"
                              (click)="assignAlternative(c.classId)">
                        {{ c.name }}
                      </button>
                      <button mat-menu-item (click)="deleteAlternative(element.alternativeChoice)">
                        Keine Alternative
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>

        <div *ngIf="loadedChoice !== undefined && !loadedChoice" class="spinner-table">
          <mat-progress-spinner
            color="primary"
            mode="indeterminate">
          </mat-progress-spinner>
        </div>
      </div>
    </div>

    <div *ngIf="!loadedClasses" class="spinner-table">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </div>
</div>
