<app-hero title="Lehrer"></app-hero>

<div class="container">
  <div class="center">
    <div class="header">
      <mat-form-field>
        <mat-label>Suche</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Name" #input>
      </mat-form-field>
      <div>
        <button (click)="exportTeachers()" color="primary" mat-raised-button style="margin-right: 5px">
          Lehrer exportieren
        </button>
        <button (click)="openDialog()" color="primary" mat-raised-button style="margin-right: 5px">
          Lehrer aus Datei importieren
        </button>
        <button mat-raised-button color="primary" (click)="createTeacher()">Lehrer erstellen</button>
      </div>
    </div>
    <div class="bulk-actions">
      <button mat-mini-fab color="primary" class="bulk-actions-icons" (click)="resetPasswords()"
              [disabled]="selection.isEmpty()">
        <mat-icon>history</mat-icon>
      </button>
      <button mat-mini-fab color="warn" class="bulk-actions-icons" (click)="deleteTeachers()"
              [disabled]="selection.isEmpty()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <table mat-table [dataSource]="dataSource!" class="mat-elevation-z8">

      <ng-container matColumnDef="Auswählen">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="Nutzername">
        <th mat-header-cell *matHeaderCellDef> Nutzername</th>
        <td mat-cell *matCellDef="let element"> {{ element.username }}</td>
      </ng-container>

      <ng-container matColumnDef="Vorname">
        <th mat-header-cell *matHeaderCellDef> Vorname</th>
        <td mat-cell *matCellDef="let element"> {{ element.firstname }}</td>
      </ng-container>

      <ng-container matColumnDef="Nachname">
        <th mat-header-cell *matHeaderCellDef> Nachname</th>
        <td mat-cell *matCellDef="let element"> {{ element.surname }}</td>
      </ng-container>

      <ng-container matColumnDef="Kürzel">
        <th mat-header-cell *matHeaderCellDef> Kürzel</th>
        <td mat-cell *matCellDef="let element"> {{ element.abbreviation }}</td>
      </ng-container>

      <ng-container matColumnDef="Generiertes Passwort">
        <th mat-header-cell *matHeaderCellDef> Generiertes Passwort</th>
        <td mat-cell *matCellDef="let element"> {{ element.generatedPassword }}</td>
      </ng-container>

      <ng-container matColumnDef="Aktionen">
        <th mat-header-cell *matHeaderCellDef> Aktionen</th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="primary" class="bulk-actions-icons" (click)="editTeacher(element.teacherId)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="primary" class="bulk-actions-icons" (click)="resetPassword(element.userId)">
            <mat-icon>history</mat-icon>
          </button>
          <button mat-mini-fab color="warn" class="bulk-actions-icons" (click)="deleteTeacher(element.teacherId)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <div *ngIf="!loadedTeachers" class="spinner-table">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>

  </div>
</div>
