<app-hero title="Klasse bearbeiten"></app-hero>
<form [formGroup]="editStudentClassForm" (ngSubmit)="editStudentClass()">
  <div class="container">
    <div class="center">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" name="name" id="name" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Jahrgang</mat-label>
        <input matInput formControlName="year" name="year" id="year" type="number">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Lehrer</mat-label>
        <mat-select formControlName="teacher" [compareWith]="compareSubjectAreaObjects">
          <mat-option *ngFor="let teacher of teachers?.teacherResponses"
                      value="{{teacher.teacherId}}"> {{ teacher.abbreviation }}
            - {{ teacher.firstname}} {{ teacher.surname }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Klasse bearbeiten</button>
    </div>
  </div>
</form>
