.choice {
  width: 100%;
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.choice-container {
  display: flex;
  justify-content: space-evenly;
}

.detail-container {
  width: 100%;
  display: grid;
}

.class {
  width: 45%;
}

.rules {
  padding-top: 10px;
  padding-bottom: 1px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 1px rgba(0, 0, 0, 0.14), 0 1px 7px 1px rgba(0, 0, 0, 0.12);
}

.not-fulfilled {
  background-color: var(--warn);
  color: white;
  margin-bottom: 10px;
}

.not-chosen {
  background-color: var(--accent);
  color: white;
}

.student-list {
  color: white;
}

.student-list:hover {
  background-color: var(--warn);
  filter: brightness(85%);
  cursor: pointer;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.element-row {
  position: relative;
  cursor: pointer;
}

.element-row:hover {
  filter: brightness(95%);
}


.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}


tr.example-detail-row {
  height: 0;
}

.mat-column-expansion {
  width: 14px;
}
