<app-hero title="Einstellungen"></app-hero>

<form [formGroup]="settingsForm">
  <div class="container">
    <div class="center">
      <div class="bulk-actions">
        <button class="bulk-actions-icons" color="primary" mat-mini-fab [matTooltip]="'Speichern'"
                [disabled]="!hasChanges" (click)="saveSettings()">
          <mat-icon>save</mat-icon>
        </button>
      </div>
      <div class="setting-container">
        <div class="setting">
          <span class="setting-heading">Einstellungen zur Kursgröße</span>
        </div>
        <div class="setting">
          <mat-form-field class="full-width">
            <mat-label>Kursgröße Warnung</mat-label>
            <input matInput formControlName="warning" name="warning" id="warning" type="number"
                   (keyup)="onChangeInput()">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Kursgröße Kritisch</mat-label>
            <input matInput formControlName="critical" name="critical" id="critical" type="number"
                   (keyup)="onChangeInput()">
          </mat-form-field>
        </div>
      </div>
      <div class="setting-container">
        <div class="setting">
          <span class="setting-heading">Einstellungen zur Wahl</span>
        </div>
        <div class="setting" style="display: grid">
          <div class="full-width">
            <mat-slide-toggle formControlName="choiceOpen" name="choiceOpen" id="choice-open"
                              style="float: left"
                              (change)="onChangeInput()">Schüler können wählen
            </mat-slide-toggle>
          </div>
          <div class="full-width">
            <mat-slide-toggle formControlName="resultOpen11" name="resultOpen" id="result-open-11" style="float: left"
                              (change)="onChangeInput()">Schüler aus dem Jahrgang 11 können das Ergebnis einsehen
            </mat-slide-toggle>
          </div>
          <div class="full-width">
            <mat-slide-toggle formControlName="resultOpen12" name="resultOpen" id="result-open-12" style="float: left"
                              (change)="onChangeInput()">Schüler aus dem Jahrgang 12 können das Ergebnis einsehen
            </mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
