.header {
  display: flex;
  justify-content: space-between;
}

.message:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.message.unread {
  background-color: var(--primary);
  color: white;
}
