<mat-nav-list *ngIf="getRole() === 'ADMIN'">
  <mat-list-item>
    <mat-icon class="side-nav-icon">people</mat-icon>
    <span style="padding: 0"><b>Benutzerverwaltung</b></span>
  </mat-list-item>
  <div class="submenu">
    <mat-list-item (click)="navigateTo('/admin/admins')" class="side-nav-item">Administratoren</mat-list-item>
    <mat-list-item (click)="navigateTo('/admin/students')" class="side-nav-item"> Schüler</mat-list-item>
    <mat-list-item (click)="navigateTo('/admin/teachers')" class="side-nav-item"> Lehrer</mat-list-item>
  </div>
  <mat-list-item>
    <mat-icon class="side-nav-icon">school</mat-icon>
    <b>Kursverwaltung</b>
  </mat-list-item>
  <div class="submenu">
    <mat-list-item (click)="navigateTo('/admin/subjectAreas')" class="side-nav-item"> Fachbereiche</mat-list-item>
    <mat-list-item (click)="navigateTo('/admin/subjects')" class="side-nav-item"> Fächer</mat-list-item>
    <mat-list-item (click)="navigateTo('/admin/studentClasses')" class="side-nav-item"> Klassen</mat-list-item>
    <mat-list-item (click)="navigateTo('/admin/tapes')" class="side-nav-item"> Bänder</mat-list-item>
    <mat-list-item (click)="navigateTo('/admin/classes')" class="side-nav-item"> Kurse</mat-list-item>
    <mat-list-item (click)="navigateTo('/admin/rules')" class="side-nav-item"> Wahlbedingungen</mat-list-item>
  </div>
  <mat-list-item>
    <mat-icon class="side-nav-icon">search</mat-icon>
    <b>Wahl Überwachung</b>
  </mat-list-item>
  <div class="submenu">
    <mat-list-item (click)="navigateTo('/admin/choiceSurveillance')" class="side-nav-item"> Überwachung</mat-list-item>
    <mat-list-item (click)="navigateTo('/admin/assignChoices/11')" class="side-nav-item"> Ergebnisse Jahrgang 11
    </mat-list-item>
    <mat-list-item (click)="navigateTo('/admin/assignChoices/12')" class="side-nav-item"> Ergebnisse Jahrgang 12
    </mat-list-item>
  </div>
</mat-nav-list>

<mat-nav-list *ngIf="getRole() === 'STUDENT'">
  <mat-list-item>
    <mat-icon class="side-nav-icon">school</mat-icon>
    <span style="padding: 0"><b>Kurswahlen</b></span>
  </mat-list-item>
  <div class="submenu">
    <mat-list-item (click)="navigateTo('/student/choice/1')" class="side-nav-item"> Wahl tätigen</mat-list-item>
    <mat-list-item (click)="navigateTo('/student/choices')" class="side-nav-item"> Wahl einsehen</mat-list-item>
  </div>
</mat-nav-list>
