.side-nav-item {
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 7px;
    transition: all 0.6s ease;
    cursor: pointer;
}

.side-nav-item:hover {
    background-color: #f5f5f5;
}

.side-nav-icon {
  padding-right: 10px;
}

.side-nav-header {
  padding-left: 5px;
}
