<div class="header">
  <h3>
    Jahrgang {{ year }}
  </h3>
  <mat-form-field>
    <mat-label>Suche</mat-label>
    <input matInput (keyup)="applySearch($event)" placeholder="Name" #input>
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource!" class="mat-elevation-z8" matSortActive="name" matSortDirection="asc"
       matSort (matSortChange)="sortData($event)">

  <ng-container matColumnDef="Name">
    <th mat-sort-header="name" mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="Band">
    <th mat-sort-header="tape" mat-header-cell *matHeaderCellDef> Band</th>
    <td mat-cell *matCellDef="let element"> {{element.tapeResponse.name}} </td>
  </ng-container>

  <ng-container matColumnDef="Fach">
    <th mat-sort-header="subject" mat-header-cell *matHeaderCellDef> Fach</th>
    <td mat-cell *matCellDef="let element"> {{element.subjectResponse.name}} </td>
  </ng-container>

  <ng-container matColumnDef="Lehrer">
    <th mat-sort-header="teacher" mat-header-cell *matHeaderCellDef> Lehrer</th>
    <td mat-cell *matCellDef="let element"> {{element.teacherResponse.abbreviation}} </td>
  </ng-container>

  <ng-container matColumnDef="Aktionen">
    <th mat-header-cell *matHeaderCellDef> Aktionen</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon (click)="editTape(element.classId)">edit</mat-icon>
      <mat-icon (click)="deleteClass(element.classId)">delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
