<app-hero title="Kurs bearbeiten"></app-hero>
<form [formGroup]="editClassForm" (ngSubmit)="createClass()">
  <div class="container">
    <div class="center" *ngIf="classResponse">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" name="name" id="name" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Fach</mat-label>
        <mat-select formControlName="subject" [compareWith]="compareObjects">
          <mat-option *ngFor="let subject of subjectResponses"
                      value="{{subject.subjectId}}"> {{ subject.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Lehrer</mat-label>
        <mat-select formControlName="teacher" [compareWith]="compareObjects">
          <mat-option *ngFor="let teacher of teacherResponses"
                      value="{{teacher.teacherId}}">
            {{ teacher.firstname }} {{ teacher.surname }} - {{ teacher.abbreviation }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Jahrgang</mat-label>
        <input matInput formControlName="year" name="year" id="year" type="number" (keyup)="loadTapes($event)">
      </mat-form-field>
      <mat-form-field class="example-full-width" *ngIf="isTapeFormFieldActive()">
        <mat-label>Band</mat-label>
        <mat-select formControlName="tape" [compareWith]="compareObjects">
          <mat-option *ngFor="let tape of tapeResponses"
                      value="{{tape.tapeId}}"> {{ tape.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Kurs bearbeiten</button>
    </div>

    <div *ngIf="!classResponse" class="spinner">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </div>
</form>
