.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.mat-column-Stunde {
  width: 32px;
}

.selected-tape {
  background-color: var(--primary);
  color: whitesmoke;
}

.taken {
  background-color: #e0e0e0;
}

.day:hover {
  filter: brightness(70%);
  cursor: pointer;
}

.selected {
  background-color: var(--warn);
  color: whitesmoke;
}
