<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="isOpen = !isOpen">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Kurswahl</span>
  <span class="example-spacer"></span>
  <span *ngIf="isLoggedIn()">
    <button (click)="logout()" mat-icon-button class="example-icon">
      <mat-icon>input</mat-icon>
    </button>
  </span>
</mat-toolbar>
<mat-sidenav-container style="height: calc(100% - 64px)">
  <mat-sidenav
    [opened]="isOpen"
    mode="side"
    style="width: 300px; height: 100%"
  >
    <app-sidenav></app-sidenav>

    <div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content style="height: calc(100% - 64px)">
    <router-outlet style="height: 100%"></router-outlet>

  </mat-sidenav-content>
  <mat-sidenav-content>
    <footer class="footer">
      <div>
        <div class="footer-element">
          <a class="footer-element" routerLink="dataPrivacy">Datenschutz</a>
        </div>
        <div class="footer-element">
          <span>Kurswahl&#64;{{ version }}</span>
        </div>
        <div class="footer-element">
          <span>© Tobias Renner {{ year }}</span>
        </div>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
