<!-- https://stackblitz.com/edit/angular-ymkpvj-9jty2s?file=src%2Fapp%2Fsidenav-fixed-example.html,src%2Fapp%2Fsidenav-fixed-example.ts -->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="isOpen = !isOpen">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Kurswahl</span>
  <span class="example-spacer"></span>
  <span *ngIf="isLoggedIn()">
    <button (click)="logout()" mat-icon-button class="example-icon">
      <mat-icon>input</mat-icon>
    </button>
  </span>
</mat-toolbar>
<mat-sidenav-container style="height: calc(100% - 64px)">
  <mat-sidenav
    class="sidenav"
    [opened]="isOpen"
    mode="side"
    style="width: 300px"
  >
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

