<app-hero title="Wahlbedingungen"></app-hero>

<div class="container">
  <div class="center">
    <div style="margin-bottom: 15px">
      <button style="float: right" mat-raised-button color="primary" (click)="createRule()">Wahlbedingungen erstellen
      </button>
    </div>
    <div class="table-container">
      <div class="table">
        <app-rule-table year="11"></app-rule-table>
      </div>
      <div class="table">
        <app-rule-table year="12"></app-rule-table>
      </div>
    </div>
  </div>
</div>

